@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div class="jumbotron">
  <h1>Welcome to Quiz Contest Pucit!</h1>
  <p class="bg-danger">Your route map to the exciting exploration journey into the fascinating world of Internet tests! 
Here you can find thousands of tests in more than 5 different categories, and you can choose any of them depending where your interests lay. Fun, Personality, IQ tests, IT and General KNowledge, Quizzes, Fan Tests - everything is possible on AllTheTests.com. Want to check your knowledge in particular disciplines - here you are, anxious about your new relationship - don’t hesitate and test your second half, just in a mood to relax on a lazy sunny afternoon - a perfect fun test collection is waiting for you.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
